@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #05030a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(228, 90, 165, 0.25);
  backdrop-filter: blur(18px);
}